@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --active-card: 210 100% 13%;
    --active-card-foreground: 0 0% 100%;
    --active-card-foreground-accent: 202 58% 80%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 354 66% 62%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 221 83% 53%;

    --radius: 0.5rem;

    --brand: 210 100% 13%;
    --brand-foreground: 240 10% 0%;

    --canvas: 0 0% 98%;

    --muted-green: 99 22% 53%;
    --muted-yellow: 42 95% 57%;
    --muted-pink: 319 40% 70%;
    --muted-sky: 202 58% 80%;
  }

  .dark {
    /* --background: 240 10% 6.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 9.9%;
    --card-foreground: 0 0% 98%;

    --active-card: 240 10% 11.9%;
    --active-card-foreground: 0 0% 98%;
    --active-card-foreground-accent: 0 0% 85%;

    --popover: 240 10% 9.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 212 96% 78%;

    --brand: 0 0% 100%;

    --canvas: 240 10% 6.9%; */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
