@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --active-card: 210 100% 13%;
    --active-card-foreground: 0 0% 100%;
    --active-card-foreground-accent: 202 58% 80%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 208, 100%, 95%, 1;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 354 66% 62%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 221 83% 53%;

    --radius: 0.5rem;

    --brand: 210 100% 13%;
    --brand-foreground: 240 10% 0%;

    --canvas: 0 0% 98%;

    --muted-green: 99 22% 53%;
    --muted-yellow: 42 95% 57%;
    --muted-pink: 319 40% 70%;
    --muted-sky: 202 58% 80%;

    --brand-light-gray: 0 4% 51%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  label {
    @apply text-gray-600;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* adjustments for react-aria */
/* TODO: make more specific to avoid collisions with non react-aria tables */
@layer base {
  tbody > td[role="gridcell"] {
    padding: 0;
  }

  tbody > tr:last-child {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #e8e8e8;
  }

  tbody td[role="gridcell"]:last-child {
    border-right-width: 1px;
    border-right-style: solid;
    border-color: #e8e8e8;
  }

  tbody > tr:last-child > td[role="gridcell"] {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #e8e8e8;
  }

  tbody > tr:last-child > td[role="gridcell"]:last-child {
    border-bottom-right-radius: 7px;
  }

  tbody > tr:last-child > td[role="gridcell"]:first-child {
    border-bottom-left-radius: 7px;
  }
}

@layer components {
  .nav-link {
    @apply flex cursor-pointer gap-2 transition ease-in-out;
  }

  .nav-link svg {
    @apply text-shamiri-text-grey;
  }

  .nav-link:hover,
  .nav-link:hover svg {
    @apply text-shamiri-new-blue;
  }

  .tab-link {
    border-bottom-width: 3px;
    @apply flex gap-2 border-transparent py-2 transition ease-in-out;
  }

  .tab-link svg {
    @apply text-shamiri-text-grey transition ease-in-out;
  }

  .tab-link.active,
  .tab-link:hover {
    @apply border-shamiri-new-blue text-shamiri-new-blue;
  }

  .tab-link.active svg,
  .tab-link:hover svg {
    @apply text-shamiri-new-blue;
  }

  .schedule-table {
    @apply w-full table-fixed border-separate overflow-hidden border border-grey-border bg-white [border-spacing:0];
  }

  .schedule-table tr {
    @apply divide-x divide-grey-border;
  }

  .schedule-table th {
    @apply px-4 py-3 text-left;
  }

  .schedule-table td {
    @apply table-cell border-t border-grey-border p-0;
  }

  .schedule-table.padded td {
    @apply px-4 py-3;
  }

  .schedule-table td.time-cell,
  .schedule-table th.time-cell {
    @apply w-[103px] bg-background-secondary px-4 py-3 text-grey-c3;
  }

  .schedule-table tbody:first-child tr:first-child td {
    @apply border-t-0 !important;
  }

  .data-table {
    @apply table-fixed border-separate border-spacing-0 rounded border border-grey-border;
  }

  .data-table tbody tr,
  .data-table tbody td {
    @apply transition ease-in-out;
  }

  .data-table tbody tr:hover td {
    @apply bg-gray-100 transition ease-in-out;
  }

  .action-cell {
    @apply w-[50px] min-w-[40px] max-w-[50px] !important;
  }

  th#sessionType,
  th#groupName {
    @apply w-[80px] min-w-[60px] max-w-[100px];
  }

  .form-toggle {
    @apply mt-1.5 justify-start rounded-md border bg-background-secondary text-shamiri-text-dark-grey;
  }

  .form-toggle .form-toggle-button {
    @apply flex-1 text-base transition ease-in-out;
  }

  .form-toggle .form-toggle-button[data-state="on"] {
    @apply border bg-white text-black drop-shadow-xl;
  }

  .arrow-button {
    @apply flex cursor-pointer items-center justify-center border px-3 py-1.5 text-shamiri-text-dark-grey hover:text-shamiri-new-blue hover:drop-shadow active:scale-95;
  }

  .accordion-button {
    @apply cursor-pointer rounded-md px-3 py-1.5 text-sm text-shamiri-new-blue hover:bg-accent active:scale-95;
  }

  .custom-radio{
    @apply border-[2px] flex items-center rounded-lg bg-background-secondary py-4 hover:shadow active:scale-[98%]
  }

  .custom-radio .radio{
    @apply border-[2px] border-gray-300 data-[state=checked]:border-[5px];
  }

  .custom-radio svg{
    @apply hidden;
  }
}
