name: Formatting and lint checks

on:
  push:
    branches-ignore:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  actions: write
  contents: read

jobs:
  formatting_and_lint_checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "20" # ensure that we are tracking the current LTS

      - name: Install dependencies
        run: npm ci

      - name: Prettier
        run: npm run stylecheck

      - name: Lint
        run: npm run lint

      - name: Typechecks
        env:
          NODE_OPTIONS: "--max_old_space_size=4096"
        run: npm run typecheck
  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run shellcheck
        uses: ludeeus/action-shellcheck@master
        with:
          scandir: "./scripts"
